Repository jack-weilage/weilage.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

.lintstagedrc:

{
    "*.{svelte,ts,js}": "eslint -f mo --cache",
    "*.{svelte,pcss}": "stylelint --cache --custom-formatter stylelint-codeframe-formatter"
}

Font sizing and placement changes.
  apps/web/src/routes/resume/Experience.svelte
  apps/web/src/routes/resume/Section.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

Add a trailing line break.
  apps/web/.env.example
Due: none

Create a text balancer action.
  apps/web/src/lib/balance.ts
Due: eslint -f mo --cache

Use balancer on important paragraphs.
  apps/web/src/routes/resume/+page.svelte
  apps/web/src/routes/resume/Knowledge.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

Create an app for Sanity CMS.
  .gitignore
  apps/cms/.env.example
  apps/cms/package.json
  apps/cms/sanity.cli.ts
  apps/cms/sanity.config.ts
  apps/cms/schemas/index.ts
  apps/cms/schemas/post.ts
  apps/cms/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: eslint -f mo --cache

Fix some console warnings; remove uploaded_at.
  apps/cms/package.json
  apps/cms/schemas/index.ts
  apps/cms/schemas/post.ts
Due: eslint -f mo --cache

Migrate from `supabase` to `sanity`.
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/lib/database.server.ts
  apps/web/src/lib/sanity.server.ts
  apps/web/src/routes/blog/+page.server.ts
  apps/web/src/routes/blog/PostPreview.svelte
  apps/web/src/routes/blog/[slug]/+page.server.ts
  apps/web/src/routes/blog/[slug]/+page.svelte
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

Fix validation issues.
  apps/cms/schemas/post.ts
Due: eslint -f mo --cache

Properly sort results.
  apps/web/src/routes/blog/+page.server.ts
Due: eslint -f mo --cache

Only grab a single post.
  apps/web/src/routes/blog/[slug]/+page.server.ts
Due: eslint -f mo --cache

Add some features I forgot about.
  apps/web/src/routes/blog/+page.server.ts
  apps/web/src/routes/sitemap.xml/+server.ts
Due: eslint -f mo --cache

Make sure that everything updates in sync with the CMS.
  apps/web/src/routes/blog/+layout.ts
Due: eslint -f mo --cache

Update balance on constainer resize.
  apps/web/src/lib/balance.ts
Due: eslint -f mo --cache

Update `.prettierignore`.
  .prettierignore
Due: none

Expand `eslint` ignores.
  apps/cms/package.json
  apps/web/package.json
  packages/eslint-config-custom/package.json
  packages/postcss-config-custom/package.json
  packages/prettier-config-custom/package.json
  packages/stylelint-config-custom/package.json
  packages/svelte-config-custom/package.json
  packages/ui/package.json
Due: none

The entire site is now automatically preloaded, so this check is now useless.
  packages/ui/components/Link.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

Fix CI error.
  .github/workflows/main.yml
Due: none

Remove unwieldly, useless packages.
  .prettierrc
  .prettierrc.json
  .stylelintrc
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/postcss-config-custom/index.js
  packages/postcss-config-custom/package.json
  packages/prettier-config-custom/index.js
  packages/prettier-config-custom/package.json
  packages/stylelint-config-custom/index.js
  packages/stylelint-config-custom/package.json
  packages/svelte-config-custom/index.js
  packages/svelte-config-custom/package.json
Due: eslint -f mo --cache

Remove traces of turbo
  .github/workflows/main.yml
  .gitignore
  turbo.json
Due: none

Update dependencies, add code editor to posts.
  apps/cms/package.json
  apps/cms/sanity.config.ts
  apps/cms/schemas/post.ts
Due: eslint -f mo --cache

Remove old checks.
  .prettierignore
  lefthook.yml
Due: none

Fix some configuration problems.
  apps/web/.postcssrc.json
  apps/web/postcss.config.cjs
  apps/web/svelte.config.js
Due: eslint -f mo --cache

Remove eslint, clean up scripts.
  packages/ui/components/Link.svelte
  packages/ui/components/Note.svelte
  packages/ui/components/SEO.svelte
  packages/ui/css/global.pcss
  packages/ui/index.ts
  packages/ui/package.json
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

General code cleanup.
  apps/web/src/app.d.ts
  apps/web/src/app.html
  apps/web/src/lib/balance.ts
  apps/web/src/routes/+error.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/blog/+page.svelte
  apps/web/src/routes/blog/PostPreview.svelte
  apps/web/src/routes/blog/[slug]/+page.server.ts
  apps/web/src/routes/blog/[slug]/+page.svelte
  apps/web/src/routes/resume/+page.svelte
  apps/web/src/routes/resume/Experience.svelte
  apps/web/src/routes/resume/Heading.svelte
  apps/web/src/routes/resume/Knowledge.svelte
  apps/web/src/routes/resume/Section.svelte
  apps/web/src/routes/sitemap.xml/+server.ts
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

Update deps, add `.node-version`.
  .github/workflows/main.yml
  .node-version
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

Update pnpm.
  package.json
Due: none

Update
  package.json
  pnpm-lock.yaml
Due: none

Add a README
  README.md
Due: none

Update for college
  apps/web/src/routes/resume/+page.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

Update deps and format
  .prettierrc.json
  apps/cms/package.json
  apps/cms/sanity.config.ts
  apps/cms/schemas/post.ts
  apps/web/package.json
  apps/web/src/routes/blog/+page.server.ts
  apps/web/src/routes/sitemap.xml/+server.ts
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint -f mo --cache

Switch from `pnpm` to `bun`
  .eslintrc
  .github/workflows/main.yml
  .prettierignore
  apps/cms/package.json
  apps/web/README.md
  apps/web/package.json
  bun.lockb
  lefthook.yml
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix lucide imports
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/resume/+page.svelte
  apps/web/src/routes/resume/Heading.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

Fix script
  package.json
Due: none

chore: Update to SvelteKit 2
  package.json
  src/routes/blog/+page.server.ts
  src/routes/blog/[slug]/+page.server.ts
  src/routes/sitemap.xml/+server.ts
  svelte.config.js
  tsconfig.json
Due: eslint -f mo --cache

chore: Update dependencies
  bun.lockb
  package.json
Due: none

fix: Speed up build time/decrease bundle size
  src/routes/+page.svelte
  src/routes/resume/+page.svelte
  src/routes/resume/Heading.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

chore(posts): Remove Sanity CMS, to be replaced by mdsvex
  .env.example
  cms/.env.example
  cms/package.json
  cms/sanity.cli.ts
  cms/sanity.config.ts
  cms/schemas/index.ts
  cms/schemas/post.ts
  cms/tsconfig.json
  src/lib/sanity.server.ts
  src/routes/+layout.server.ts
  src/routes/blog/+layout.ts
  src/routes/blog/+page.server.ts
  src/routes/blog/+page.svelte
  src/routes/blog/PostPreview.svelte
  src/routes/blog/[slug]/+page.server.ts
  src/routes/blog/[slug]/+page.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

feat(root): Add `@sveltejs/enhanced-img`
  vite.config.ts
Due: eslint -f mo --cache

feat(root): Add TailwindCSS
  .postcssrc.json
  .prettierrc.json
  browserslist
  src/app.css
  tailwind.config.js
Due: eslint -f mo --cache
