Repository jack-weilage/weilage.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

chore(posts): Replace Sanity posts with local markdown
  src/routes/sitemap.xml/+server.ts
Due: eslint -f mo --cache

feat(root): Add mdsvex
  mdsvex.config.js
  package.json
  svelte.config.js
Due: eslint -f mo --cache

fix: Correctly color and ensure that `sticky` works on header
  src/app.html
Due: none

chore(root): Format with prettier
  README.md
  lefthook.yml
Due: none

chore(posts): Add slugged param matcher
  src/params/slugged.ts
Due: eslint -f mo --cache

chore(root): Update lockfile
  bun.lockb
Due: none

feat(posts): Add re-export for all posts
  src/lib/posts/index.ts
Due: eslint -f mo --cache

chore(posts): Move mdsvex components to `$lib/components/mdsvex`
  mdsvex.config.js
  src/lib/components/mdsvex/Img.svelte
  src/lib/components/mdsvex/Layout.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

fix(posts): Don't crash when post metadata doesn't exist
  src/lib/posts/index.ts
Due: eslint -f mo --cache

fix(posts): Remove param matcher bc it runs on client + server
  src/params/slugged.ts
  src/routes/posts/[slug]/+page.server.ts
  src/routes/posts/[slug]/+page.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

chore(resume): Removed resume for now, will likely add back later
  src/routes/resume/+page.svelte
  src/routes/resume/Experience.svelte
  src/routes/resume/Heading.svelte
  src/routes/resume/Knowledge.svelte
  src/routes/resume/Section.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

feat(homepage,error): Implement new style w/ Tailwind
  src/routes/+error.svelte
  src/routes/+layout.svelte
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/Phrases.svelte
  src/routes/Project.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

feat(posts): Upload "Why I'm Using Tailwind Now"
  src/lib/posts/why-im-using-tailwind-now/post.md
Due: none

fix(posts): Remove test logging
  src/routes/posts/[slug]/+page.server.ts
Due: eslint -f mo --cache

fix(posts): Fix upload time for "Why I'm Using Tailwind Now"
  src/lib/posts/why-im-using-tailwind-now/post.md
Due: none

chore(root): Update deps
  .node-version
  bun.lockb
  package.json
Due: none

chore(components): Remove unused `<Link />` component
  src/lib/components/Link.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

chore(root): Update deps
  bun.lockb
  package.json
Due: none

feat(resume): Add resume page
  src/routes/+layout.svelte
  src/routes/resume/+page.svelte
  src/routes/resume/Experience.svelte
  src/routes/resume/Section.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

feat(root): Implement Vercel Speed Insights
  bun.lockb
  package.json
  src/routes/+layout.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

fix(resume): Fix mobile formatting
  src/routes/resume/+page.svelte
  src/routes/resume/Experience.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

fix(resume): Add SEO
  src/routes/resume/+page.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

fix(resume): Justify links to start when printing
  src/routes/resume/+page.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

feat(resume): Update resume, fix spelling mistakes
  src/routes/resume/+page.svelte
  src/routes/resume/Experience.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

fix(resume): Spelling
  src/routes/resume/+page.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

fix(resume): Remove unnecessary margin above headings
  src/routes/resume/Section.svelte
Due: eslint -f mo --cache, stylelint --cache --custom-formatter stylelint-codeframe-formatter

feat(blog): Release "Unpacking Clever Devices' BusTracker"
  src/lib/posts/unpacking-clever-devices-bustracker/post.md
Due: none

fix(blog): Update description
  src/lib/posts/unpacking-clever-devices-bustracker/post.md
Due: none

Path conditions:
  eslint -f mo --cache: any of: *.{svelte,ts,js}
  stylelint --cache --custom-formatter stylelint-codeframe-formatter: any of: *.{svelte,pcss}
