Repository jack-weilage/weilage.dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npm run lint:eslint {staged_files}

stylelint:
  run: npm run lint:stylelint {staged_files}

Remove some unneeded files.
  .npmrc
  .nvmrc
  apps/web/package.json
  browserslist
  package.json
Due: none

Install PNPM in action.
  .github/workflows/main.yml
Due: none

Swap PNPM installation with Node.js installation.
  .github/workflows/main.yml
Due: none

Remove unused disable.
  apps/web/src/routes/resume/Experience.svelte
Due: eslint, stylelint

Remove svelte-check for now.
  .github/workflows/main.yml
Due: none

Remove unused vite assets.
  apps/web/vite.config.ts
Due: eslint

Migrate Svelte config to its own package.
  apps/web/package.json
  apps/web/svelte.config.js
  packages/svelte-config-custom/index.js
  packages/svelte-config-custom/package.json
  pnpm-lock.yaml
Due: eslint

Rename job `check` to `lint`.
  .github/workflows/main.yml
Due: none

Implement Vercel's analytics.
  apps/web/package.json
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+layout.ts
  pnpm-lock.yaml
Due: eslint, stylelint

Sort imports.
  apps/web/src/routes/+layout.svelte
Due: eslint, stylelint

Speed up compile times by directly importing icons.
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/resume/+page.svelte
  apps/web/src/routes/resume/Heading.svelte
Due: eslint, stylelint

Add `svelte-check` to Git hooks.
  lefthook.yml
Due: none

Remove Internet Explorer-specific meta.
  apps/web/src/app.html
Due: none

Enable `sveltekit-preload-data`.
  apps/web/src/app.html
Due: none

Fix slightly incorrect link.
  apps/web/src/routes/+page.svelte
Due: eslint, stylelint

Create a new package for PostCSS configuration.
  packages/postcss-config-custom/index.js
  packages/postcss-config-custom/package.json
  packages/svelte-config-custom/index.js
  packages/svelte-config-custom/package.json
  pnpm-lock.yaml
Due: none

Implement the new package in `web`.
  apps/web/package.json
  apps/web/postcss.config.cjs
Due: none

Remove unused alias.
  apps/web/svelte.config.js
Due: eslint

Normalize config style.
  packages/eslint-config-custom/index.js
Due: none

Use nesting in CSS files.
  apps/web/src/lib/css/global.pcss
  apps/web/src/lib/css/vars.pcss
Due: stylelint

Create `packages/ui`, move components and CSS.
  packages/ui/components/Link.svelte
  packages/ui/components/Note.svelte
  packages/ui/components/SEO.svelte
  packages/ui/css/global.pcss
  packages/ui/css/vars.pcss
  packages/ui/index.ts
  packages/ui/package.json
Due: none

Use \`packages/ui\`; remove unused aliases.
  apps/web/package.json
  apps/web/src/routes/+error.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/blog/+page.svelte
  apps/web/src/routes/blog/PostPreview.svelte
  apps/web/src/routes/blog/[slug]/+page.svelte
  apps/web/src/routes/resume/+page.svelte
  apps/web/src/routes/resume/Heading.svelte
  apps/web/src/routes/sitemap.xml/+server.ts
  apps/web/svelte.config.js
Due: eslint, stylelint

Remove `svelte/valid-compile` from `eslint`.
  packages/eslint-config-custom/index.js
Due: none

Update dependencies.
  apps/web/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/svelte-config-custom/package.json
  pnpm-lock.yaml
Due: none

Fix lint errors.
  apps/web/src/routes/resume/+page.svelte
Due: eslint, stylelint

Move `postcss-html` to the correct package.
  packages/postcss-config-custom/package.json
  packages/stylelint-config-custom/package.json
Due: none

Add linting to `packages/ui`.
  packages/ui/.eslintrc
  packages/ui/.stylelintrc
  packages/ui/package.json
Due: none

Add global browserslist, clean up scripts.
  apps/web/package.json
  browserslist
  package.json
  pnpm-lock.yaml
Due: none

Make Git checks more universal by running from root.
  .eslintrc
  .stylelintrc
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

Lint configs.
  packages/eslint-config-custom/index.js
  packages/postcss-config-custom/index.js
  packages/stylelint-config-custom/index.js
  packages/svelte-config-custom/index.js
  packages/ui/index.ts
Due: none

Add Vite env keys to Github actions.
  .github/workflows/main.yml
Due: none

Add `prettier`.
  .prettierignore
  .prettierrc
  apps/web/.eslintrc
  apps/web/.stylelintrc
  apps/web/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/prettier-config-custom/index.js
  packages/prettier-config-custom/package.json
  packages/stylelint-config-custom/package.json
  packages/svelte-config-custom/package.json
  packages/ui/.eslintrc
  packages/ui/.stylelintrc
  packages/ui/package.json
Due: none

Add `prettier` to `lefthook.yml`.
  lefthook.yml
Due: none

Include `pnpm-lock.yaml`.
  pnpm-lock.yaml
Due: none

Relax `eslint` rules; format
  packages/eslint-config-custom/index.js
Due: none

Stop running `svelte-check` until I can fix it.
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

Run `prettier`.
  .eslintrc
  .github/workflows/main.yml
  .stylelintrc
  apps/web/README.md
  apps/web/postcss.config.cjs
  apps/web/src/app.html
  apps/web/src/lib/types.d.ts
  apps/web/src/routes/+error.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/blog/+page.server.ts
  apps/web/src/routes/blog/+page.svelte
  apps/web/src/routes/blog/PostPreview.svelte
  apps/web/src/routes/blog/[slug]/+page.server.ts
  apps/web/src/routes/blog/[slug]/+page.svelte
  apps/web/src/routes/resume/+page.svelte
  apps/web/src/routes/resume/Experience.svelte
  apps/web/src/routes/resume/Heading.svelte
  apps/web/src/routes/resume/Section.svelte
  apps/web/src/routes/sitemap.xml/+server.ts
  apps/web/svelte.config.js
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  packages/postcss-config-custom/index.js
  packages/stylelint-config-custom/index.js
  packages/svelte-config-custom/index.js
  packages/ui/components/Link.svelte
  packages/ui/components/Note.svelte
  packages/ui/components/SEO.svelte
  packages/ui/css/global.pcss
  packages/ui/css/vars.pcss
  pnpm-workspace.yaml
  turbo.json
Due: eslint, stylelint

Update dependencies.
  apps/web/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

Update deps
  apps/web/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

Update alignment, make sure everything fits on one page.
  apps/web/src/routes/resume/+page.svelte
  apps/web/src/routes/resume/Experience.svelte
  apps/web/src/routes/resume/Knowledge.svelte
  apps/web/src/routes/resume/Section.svelte
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,ts,svelte} and ^apps/web/
  stylelint: any of: *.{svelte,pcss,css} and ^apps/web/
