Repository jack-weilage/weilage.dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint --cache -f mo {staged_files}

stylelint:
  run: npx stylelint --cache --custom-formatter stylelint-codeframe-formatter {staged_files}

Switch to lefthook from husky + lint-staged.
  .husky/pre-commit
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

Use custom `<Link />` element.
  src/routes/+error.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: eslint, stylelint

Use `Date.prototype.toLocaleDateString` instead of `dayjs`.
  package.json
  pnpm-lock.yaml
  src/routes/blog/PostPreview.svelte
Due: eslint, stylelint

Ignore local lefthook config.
  .gitignore
Due: none

Increase alt background brightness for light mode.
  src/lib/css/vars.pcss
Due: stylelint

Fix errors on Vercel.
  package.json
Due: none

Remove unused lint-staged file.
  .lintstagedrc
Due: none

Check for unused `eslint` and `stylelint` disables.
  package.json
Due: none

Remove unneeded data from database.
  src/routes/blog/+page.server.ts
  src/routes/blog/[slug]/+page.server.ts
  src/routes/sitemap.xml/+server.ts
Due: eslint

Update dependencies.
  package.json
  pnpm-lock.yaml
Due: none

Add `height: auto` to images.
  src/lib/css/global.pcss
Due: stylelint

Add new resume design.
  src/routes/+layout.svelte
  src/routes/resume/+page.svelte
  src/routes/resume/Experience.svelte
  src/routes/resume/Heading.svelte
  src/routes/resume/NewHeading.svelte
  src/routes/resume/Section.svelte
  src/routes/resume/Skill.svelte
  static/images/pfp.jpg
  static/images/pfp.webp
Due: eslint, stylelint

Fail if no data is returned.
  src/routes/blog/[slug]/+page.server.ts
Due: eslint

Fix git hooks.
  lefthook.yml
Due: none

Replace old component.
  src/routes/resume/+page.svelte
  src/routes/resume/Heading.svelte
  src/routes/resume/NewHeading.svelte
Due: eslint, stylelint

Remove unused `utils.ts`.
  src/lib/utils.ts
Due: eslint

Remove example text.
  .env.example
Due: none

Remove unused dependencies, customize stylelint.
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: none

Start work on print styling.
  src/routes/blog/+page.svelte
  src/routes/blog/[slug]/+page.svelte
Due: eslint, stylelint

Only use one request for draft posts.
  src/routes/blog/+page.server.ts
  src/routes/blog/[slug]/+page.server.ts
  src/routes/sitemap.xml/+server.ts
Due: eslint

Clean up blog preview styling.
  src/routes/blog/+page.svelte
  src/routes/blog/PostPreview.svelte
Due: eslint, stylelint

Align every other preview to the end.
  src/routes/blog/PostPreview.svelte
Due: eslint, stylelint

Update deps, pnpm.
  package.json
  pnpm-lock.yaml
Due: none

Run scripts from `package.json` instead of copying them.
  lefthook.yml
Due: none

Run `pre-push` scripts in parallel.
  lefthook.yml
Due: none

Remove extra space in script.
  package.json
Due: none

Parallelize linting, only check diffed files.
  lefthook.yml
Due: none

Use weight number instead of name.
  src/routes/resume/+page.svelte
Due: eslint, stylelint

Include `.svelte` in `pre-push` linting.
  lefthook.yml
Due: none

Begin migration to monorepo structure.
  apps/web/.env.example
  apps/web/.eslintrc
  apps/web/.stylelintrc
  apps/web/README.md
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/app.d.ts
  apps/web/src/app.html
  apps/web/src/lib/components/Link.svelte
  apps/web/src/lib/components/Note.svelte
  apps/web/src/lib/components/SEO.svelte
  apps/web/src/lib/css/global.pcss
  apps/web/src/lib/css/vars.pcss
  apps/web/src/lib/database.server.ts
  apps/web/src/lib/types.d.ts
  apps/web/src/routes/+error.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+layout.ts
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/blog/+page.server.ts
  apps/web/src/routes/blog/+page.svelte
  apps/web/src/routes/blog/PostPreview.svelte
  apps/web/src/routes/blog/[slug]/+page.server.ts
  apps/web/src/routes/blog/[slug]/+page.svelte
  apps/web/src/routes/resume/+page.svelte
  apps/web/src/routes/resume/Experience.svelte
  apps/web/src/routes/resume/Heading.svelte
  apps/web/src/routes/resume/Section.svelte
  apps/web/src/routes/sitemap.xml/+server.ts
  apps/web/static/favicon.png
  apps/web/static/favicon.webp
  apps/web/static/images/pfp.jpg
  apps/web/static/images/pfp.webp
  apps/web/static/robots.txt
  apps/web/svelte.config.js
  apps/web/tsconfig.json
  apps/web/vite.config.ts
Due: eslint, stylelint

Move lint configs to their own packages.
  apps/web/.eslintrc
  apps/web/.stylelintrc
  apps/web/package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/stylelint-config-custom/index.js
  packages/stylelint-config-custom/package.json
Due: eslint

Set up global package.
  .gitignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: none

Shift some dependencies around, add turbo config.
  apps/web/package.json
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/stylelint-config-custom/package.json
  pnpm-lock.yaml
Due: eslint

Shuffle some dependencies to fix stylelint errors.
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  package.json
  packages/eslint-config-custom/package.json
  packages/stylelint-config-custom/package.json
  pnpm-lock.yaml
Due: none

Make sure that lint commands run in parallel.
  apps/web/package.json
Due: none

Add check command to turbo.
  turbo.json
Due: none

Add a Github Action.
  .github/workflows/main.yml
Due: none

Update lefthook config for monorepo.
  lefthook.yml
Due: none

Path conditions:
  eslint: any of: *.{js,ts,svelte}
  stylelint: any of: *.{svelte,pcss,css}
